In [1]:
import datetime
import pandas as pd
from invest.portfolio import Portfolio
from invest.investment import Investment
from config import Config

In [2]:
invests = []
for k, v in Config.FUNDS.items():
    pfls = [Portfolio(c, Config.STOCKS[c]) for c in v[1:]]
    invests.append(Investment(k, v[0], pfls))

In [3]:
invest_cny = invests[0]
invest_hkd = invests[1]

In [4]:
invest_cny.getPeriodData()

,Commission,Currency,Earning,Fund,Market,Tax,Value
2015-12-31,0.00,CNY,0.00,1405000.0,703004.5,0.00,1405000.00
2016-12-31,1226.81,CNY,159655.52,1197962.0,579522.5,2901.29,1357617.52
2017-12-31,2354.80,CNY,713961.43,1371715.0,1855460.0,6117.21,2085676.43

In [5]:
invest_hkd.getPeriodData()

,Commission,Currency,Earning,Fund,Market,Tax,Value
2015-12-31,2637.37,HKD,80460.04,223067.2,154416.11,2089.18,303527.24
2016-12-31,6088.26,HKD,169931.38,457567.2,809630.00,6601.23,627498.58
2017-12-31,11059.17,HKD,1784773.19,100567.2,1221220.00,19634.06,1885340.39

In [9]:
end = datetime.date(2017, 12, 31)
df = invest_cny.portfolios[0].getStocks()
df.loc[lambda df: df.Qty > 0][['Qty', 'Dividend', 'Earning']]

           Qty  Dividend    Earning
Symbol
600660    3000    5175.0   52113.44
600585    5000     950.0   57673.08
601939   15000    3864.0   38152.78
000895    6000    1620.0   45083.74
601318    3000    4400.0  168997.84
501021  127500       0.0   48252.50
000001   15000    3160.0   99694.90
000961  100000       0.0 -644995.20
600267   12000       0.0    -888.00
002923     500       0.0   13185.00