In [12]:
import datetime
import pandas as pd
from invest.portfolio import Portfolio
from invest.investment import Investment
from config import Config

In [13]:
invests = []
for k, v in Config.FUNDS.items():
    pfls = [Portfolio(c, Config.STOCKS[c]) for c in v[1:]]
    invests.append(Investment(k, v[0], pfls))

In [14]:
invest_cny = invests[0]
invest_hkd = invests[1]

In [15]:
end = datetime.date(2017, 12, 29)
value_cny = invest_cny.getPeriodData().drop(['Currency'], axis=1)
value_hkd = invest_hkd.getPeriodData().drop(['Currency'], axis=1)

In [22]:
rate_df = pd.read_csv(Config.H2C_RATE_FILE, parse_dates=['Date'], index_col=0)
rate = rate_df.loc[end]['Rate']
print(rate)rate
final = value_cny + value_hkd*rate

In [10]:
value_cny

            Commission    Earning       Fund     Market      Tax       Value
2015-12-31        0.00       0.00  1405000.0   703004.5     0.00  1405000.00
2016-12-31     1221.81  159775.52  1197962.0   571640.0  2901.29  1357737.52
2017-12-31     2349.80  711366.43  1321715.0  1844840.0  6117.21  2033081.43

In [11]:
value_hkd

            Commission     Earning      Fund      Market       Tax       Value
2015-12-31     2637.37    80460.04  223067.2   154416.11   2089.18   303527.24
2016-12-31     6088.26   169931.38  457567.2   809630.00   6601.23   627498.58
2017-12-31    11059.17  1784773.19  100567.2  1221220.00  19634.06  1885340.39

In [9]:
final.round(2)

,Commission,Earning,Fund,Market,Tax,Value
2015-12-31,2196.67,67015.17,1590792.67,831617.68,1740.08,1657807.84
2016-12-31,6292.72,301311.37,1579069.72,1245980.83,8399.45,1880381.09
2017-12-31,11560.98,2197904.02,1405477.42,2861994.14,22470.42,3603381.44