In [1]:
import datetime
import pandas as pd
from invest.portfolio import Portfolio
from invest.investment import Investment
from config import Config

In [20]:
invests = []
for k, v in Config.FUNDS.items():
    pfls = [Portfolio(c, Config.STOCKS[c]) for c in v[1:]]
    invests.append(Investment(k, v[0], pfls))

In [21]:
invest_cny = invests[0]
invest_hkd = invests[1]

In [22]:
end = datetime.date(2017, 12, 29)
value_cny = invest_cny.getPeriodData().drop(['Currency'], axis=1)
value_hkd = invest_hkd.getPeriodData().drop(['Currency'], axis=1)

In [23]:
rate_df = pd.read_csv(Config.H2C_RATE_FILE, parse_dates=['Date'], index_col=0)

In [24]:
value_cny

            Commission     Earning       Fund     Market      Tax       Value
2015-12-31        0.00        0.00  1405000.0   703004.5     0.00  1405000.00
2016-12-31     1301.17   184073.53  1167962.0   900130.0  3212.96  1352035.53
2017-12-31     2970.19  1024190.26  1321715.0  1891240.0  8974.61  2345905.26

In [25]:
value_hkd2cny = value_hkd.join(rate_df)
#value_hkd2cny
value_hkd2cny['Value'] = value_hkd2cny['Value'] * value_hkd2cny['Rate']
value_hkd2cny = value_hkd2cny.drop(['Rate'], axis=1).round(2)
value_hkd2cny

            Commission     Earning      Fund      Market       Tax       Value
2015-12-31     2637.37    80460.04  223067.2   154416.11   2089.18   254204.06
2016-12-31     5999.10   183133.57  457567.2   481140.00   6251.13   573811.61
2017-12-31    10353.32  1413425.31  100567.2  1174820.00  16148.82  1260095.97

In [26]:
final = value_cny + value_hkd2cny
final

,Commission,Earning,Fund,Market,Tax,Value
2015-12-31,2637.37,80460.04,1628067.2,857420.61,2089.18,1659204.06
2016-12-31,7300.27,367207.10,1625529.2,1381270.00,9464.09,1925847.14
2017-12-31,13323.51,2437615.57,1422282.2,3066060.00,25123.43,3606001.23