In [18]:
import datetime
import pandas as pd
from invest.portfolio import Portfolio
from invest.investment import Investment
from config import Config

In [19]:
invests = []
for k, v in Config.FUNDS.items():
    pfls = [Portfolio(c, Config.STOCKS[c]) for c in v[1:]]
    invests.append(Investment(k, v[0], pfls))

In [20]:
invest_cny = invests[0]
invest_hkd = invests[1]

In [26]:
end = datetime.date(2017, 5, 26)
value_cny = invest_cny.getData(end=end).drop(['Currency'], axis=1)
value_hkd = invest_hkd.getData(end=end).drop(['Currency'], axis=1)

In [27]:
rate_df = pd.read_csv(Config.H2C_RATE_FILE, parse_dates=['Date'], index_col=0)
rate = rate_df.loc[end]['Rate']
final = value_cny + value_hkd*rate

In [28]:
value_cny

            Commission    Earning       Fund    Market      Tax       Value
2017-05-26     1476.31  288703.15  1197962.0  871520.0  3554.16  1486665.15

In [29]:
value_hkd

            Commission    Earning      Fund     Market       Tax      Value
2017-05-26     7588.93  521626.16  457567.2  1483150.0  11972.52  979193.36

In [30]:
final.round(2)

            Commission   Earning        Fund      Market       Tax       Value
2017-05-26     8156.09  747838.5  1600712.65  2176988.63  14092.37  2348551.15