In [1]:
import datetime
import pandas as pd
from invest.portfolio import Portfolio
from invest.investment import Investment
from config import Config

In [2]:
invests = []
for k, v in Config.FUNDS.items():
    pfls = [Portfolio(c, Config.STOCKS[c]) for c in v[1:]]
    invests.append(Investment(k, v[0], pfls))

In [3]:
invest_cny = invests[0]
invest_hkd = invests[1]

In [9]:
#end = datetime.date(2017, 12, 29)
latest_cny = invest_cny.getData().drop(['Currency'], axis=1)
latest_hkd = invest_hkd.getData().drop(['Currency'], axis=1)
period_cny = invest_cny.getPeriodData().drop(['Currency'], axis=1)
period_hkd = invest_hkd.getPeriodData().drop(['Currency'], axis=1)

In [10]:
rate_df = pd.read_csv(Config.H2C_RATE_FILE, parse_dates=['Date'], index_col=0)
latest_hkd2cny = latest_hkd.join(rate_df)
latest_hkd2cny['Value'] = latest_hkd2cny['Value'] * latest_hkd2cny['Rate']
latest_hkd2cny = latest_hkd2cny.drop(['Rate'], axis=1).round(2)
period_hkd2cny = period_hkd.join(rate_df)
period_hkd2cny['Value'] = period_hkd2cny['Value'] * period_hkd2cny['Rate']
period_hkd2cny = period_hkd2cny.drop(['Rate'], axis=1).round(2)

In [13]:
latest = latest_cny + latest_hkd2cny
latest

            Commission    Earning       Fund     Market      Tax       Value
2018-01-17    13671.63  2885221.1  1452282.2  3815410.0  26053.9  4037703.66

In [12]:
period = period_cny + period_hkd2cny
period

,Commission,Earning,Fund,Market,Tax,Value
2015-12-31,2637.37,80460.04,1628067.2,857420.61,2089.18,1659204.06
2016-12-31,7300.27,367207.10,1625529.2,1381270.00,9464.09,1925847.14
2017-12-31,13323.51,2437615.57,1422282.2,3066060.00,25123.43,3606001.23