In [19]:
import datetime
import pandas as pd
from invest.portfolio import Portfolio
from invest.investment import Investment
from config import Config

In [20]:
invests = []
for k, v in Config.FUNDS.items():
    pfls = [Portfolio(c, Config.STOCKS[c]) for c in v[1:]]
    invests.append(Investment(k, v[0], pfls))

In [21]:
end = datetime.date(2017, 12, 31)
data = []
for i in invests:
    data.append(i.getData())

In [22]:
freq = 'M'
period_data = []
for i in invests:
    period_data.append(i.getPeriodData())

In [23]:
period_data[0]

,Commission,Currency,Earning,Fund,Market,Tax,Value
2015-12-31,0.00,CNY,0.00,1405000.0,703004.5,0.00,1405000.00
2016-12-31,1226.81,CNY,159655.52,1197962.0,579522.5,2901.29,1357617.52
2017-12-31,2354.80,CNY,713961.43,1371715.0,1855460.0,6117.21,2085676.43

In [24]:
period_data[1]

,Commission,Currency,Earning,Fund,Market,Tax,Value
2015-12-31,2637.37,HKD,80460.04,223067.2,154416.11,2089.18,303527.24
2016-12-31,6088.26,HKD,169931.38,457567.2,809630.00,6601.23,627498.58
2017-12-31,11059.17,HKD,1784773.19,100567.2,1221220.00,19634.06,1885340.39