In [1]:
import datetime
from invest.portfolio import Portfolio
from invest.investment import Investment
from config import Config

In [2]:
invests = []
for k, v in Config.FUNDS.items():
    pfls = [Portfolio(c, Config.STOCKS[c]) for c in v[1:]]
    invests.append(Investment(k, v[0], pfls))

In [3]:
end = datetime.date(2017, 12, 31)
data = []
for i in invests:
    data.append(i.getData())

In [5]:
data[1]

,Commission,Currency,Earning,Fund,Market,Tax,Value
2018-01-14,11305.3,HKD,1922728.22,100567.2,1749430.0,20309.07,2023295.42