In [30]:
import datetime
import pandas as pd
from invest.portfolio import Portfolio
from invest.investment import Investment
from config import Config

In [31]:
invests = []
for k, v in Config.FUNDS.items():
    pfls = [Portfolio(c, Config.STOCKS[c]) for c in v[1:]]
    invests.append(Investment(k, v[0], pfls))
invest_cny = invests[0]
invest_hkd = invests[1]

In [40]:
end = pd.Timestamp(datetime.date(2018, 12, 31))
latest_cny = invest_cny.getData(end)[['Fund', 'Earning', 'Value', 'Market', 'Commission', 'Tax']]

In [42]:
end.is_year_end

True

In [34]:
df = pd.read_csv(Config.CSV_DIR/'freq_daily-cny.csv', parse_dates=['Date'], index_col=0)

In [35]:
df.loc[end] = latest_cny.values[0]

In [36]:
df.tail()

                 Fund     Earning       Value     Market  Commission      Tax
Date
2018-01-15  1351715.0  1247775.38  2599490.38  2252305.0     3063.46  9161.32
2018-01-16  1351715.0  1266408.51  2618123.51  2270936.0     3063.46  9161.32
2018-01-17  1351715.0  1268687.37  2620402.37  2247499.0     3071.19  9187.07
2018-01-18  1351715.0  1270139.54  2621854.54  2280274.0     3071.19  9187.07
2018-01-19  1351715.0  1259364.00  2611079.00  2238023.0     3083.12  9218.59