In [1]:
import datetime
import pandas as pd
from invest.portfolio import Portfolio
from invest.investment import Investment
from config import Config
from helper import get_tx_quotes

In [2]:
pfls = []
for k, v in Config.STOCKS.items():
    pfls.append(Portfolio(k, v))
pcny = pfls[0]

In [5]:
quotes = get_tx_quotes(pcny.getHolding().index)

In [10]:
for i, row in quotes.iterrows():
    print(i, row['Last'])

600660 28.29
600585 32.12
601939 8.98
000895 29.27
601318 77.61
501021 1.480
000001 14.72
00392 47.550
000961 7.70
600267 15.81
03323 7.660

In [27]:
day = pd.Timestamp(datetime.date(2018, 1, 19))
df = pd.read_csv(Config.HISTORIC_DIR/'000961.csv', names=['Date', 'Close'], parse_dates=['Date'], index_col=0)
df.loc[day] = {'Close': 7.7}
df

            Close
Date
2015-12-01  16.71
2015-12-02  16.80
2015-12-03  17.45
2015-12-04  17.10
2015-12-07  17.56
2015-12-08  17.50
2015-12-09  17.35
2015-12-10  17.44
2015-12-11  15.90
2015-12-14  15.46
2015-12-15  15.96
2015-12-16  15.69
2015-12-17  16.21
2015-12-18  15.96
2015-12-21  15.90
2015-12-22  16.02
2015-12-23  16.68
2015-12-24  16.12
2015-12-25  15.93
2015-12-28  15.55
2015-12-29  15.71
2015-12-30  15.89
2015-12-31  15.46
2016-01-04  14.05
2016-01-05  13.38
2016-01-06  14.16
2016-01-07  12.80
2016-01-08  13.00
2016-01-11  11.80
2016-01-12  11.97
...           ...
2017-12-12   6.01
2017-12-13   6.02
2017-12-14   6.00
2017-12-15   5.98
2017-12-18   5.98
2017-12-19   6.02
2017-12-20   6.02
2017-12-21   6.05
2017-12-22   6.05
2017-12-25   6.11
2017-12-26   6.11
2017-12-27   6.19
2017-12-28   6.35
2017-12-29   6.41
2018-01-01   6.41
2018-01-02   6.62
2018-01-03   6.57
2018-01-04   6.82
2018-01-05   6.98
2018-01-08   7.32
2018-01-09   7.24
2018-01-10   7.30
2018-01-11   7.19
2018-01-12   7.19
2018-01-13   7.19
2018-01-15   7.91
2018-01-16   7.91
2018-01-17   7.96
2018-01-18   7.70
2018-01-19   7.70

[517 rows x 1 columns]