In [1]:
import datetime
import pandas as pd
from invest import Portfolio, Investment, Currency
from config import Config

In [2]:
invests = []
for k, v in Config.FUNDS.items():
    pfls = [Portfolio(c, Config.STOCKS[c]) for c in v[1:]]
    invests.append(Investment(k, v[0], pfls))

In [3]:
invest_cny = invests[0]
invest_hkd = invests[1]

In [4]:
day = datetime.date.today()
latest_cny = invest_cny.getData(day)
latest_hkd = invest_hkd.getData(day)
period_cny = invest_cny.getPeriodData()
period_hkd = invest_hkd.getPeriodData()

In [5]:
p = invests[0].portfolios[0]

In [18]:
until = pd.Timestamp(day)
trades = p._trades.loc[lambda df: df.Date <= until]
grp_trade = trades.groupby([trades.index, trades['Transaction']])
stocks = trades[['Name']].drop_duplicates()
trades[~trades.index.duplicated()][['Name']]

            Name
Symbol
600519      贵州茅台
000651      格力电器
600886      国投电力
600660      福耀玻璃
000002       万科A
510900     H股ETF
600036      招商银行
150176       H股B
159920     恒生ETF
600900      长江电力
002081       金螳螂
510300    300ETF
601668      中国建筑
600276      恒瑞医药
000963      华东医药
002304      洋河股份
600009      上海机场
300503      昊志机电
600585      海螺水泥
601939      建设银行
000895      双汇发展
600056      中国医药
600309      万华化学
600059      古越龙山
601318      中国平安
600919      江苏银行
01918       融创中国
002415      海康威视
501021      香港中小
601128      常熟银行
...          ...
600674      川投能源
00998       中信银行
000001      平安银行
000338      潍柴动力
002846      英联股份
01055   中国南方航空股份
000333      美的集团
01378       中国宏桥
00165     中国光大控股
600597      光明乳业
03333       中国恒大
02007        碧桂园
601601      中国太保
601166      兴业银行
600016      民生银行
603316      诚邦股份
002714      牧原股份
000732      泰禾集团
03900       绿城中国
00392       北京控股
510310  HS300ETF
000961      中南建设
600025      华能水电
603477      振静股份
600267      海正药业
002923      润都股份
000671       阳光城
03323       中国建材
002294       信立泰
01988       民生银行

[67 rows x 1 columns]

In [32]:
days = period_cny.index
rates = []
HKD = Currency('hkd', Config.H2C_RATE_FILE)
for day in days:
    rates.append(HKD.get_rate2cny(day))
yearly_rates = pd.DataFrame(rates, index=days, columns=['Rate'])

In [19]:
period_hkd2cny = period_hkd.mul(yearly_rates['Rate'], axis=0).round(2)

In [22]:
period_cny+period_hkd2cny

,Commission,Earning,Fund,Market,Tax,Value
2015-12-31,2208.80,67385.28,1591818.78,832327.99,1749.69,1659204.06
2016-12-31,6673.96,313793.57,1607759.18,1296751.98,8811.47,1921552.75
2017-12-31,11600.83,2195942.01,1405417.08,2861261.69,22804.14,3601359.09