In [1]:
import datetime
import pandas as pd
from invest import Portfolio, Investment, Currency
from config import Config

In [2]:
invests = []
for k, v in Config.FUNDS.items():
    pfls = [Portfolio(c, Config.STOCKS[c]) for c in v[1:]]
    invests.append(Investment(k, v[0], pfls))

In [3]:
invest_cny = invests[0]
invest_hkd = invests[1]

In [4]:
day = datetime.date.today()
latest_cny = invest_cny.getData(day)
latest_hkd = invest_hkd.getData(day)
period_cny = invest_cny.getPeriodData()
period_hkd = invest_hkd.getPeriodData()

In [10]:
#latest_cny.index = pd.to_datetime(latest_cny.index)
list(period_cny.index)

[Timestamp('2015-12-31 00:00:00'),
 Timestamp('2016-12-31 00:00:00'),
 Timestamp('2017-12-31 00:00:00')]

In [8]:
pd.concat([period_cny, latest_cny]).to_dict(orient='records')

[{'Commission': 0.0,
  'Earning': 0.0,
  'Fund': 1405000.0,
  'Market': 703004.5,
  'Tax': 0.0,
  'Value': 1405000.0},
 {'Commission': 1301.1700000000001,
  'Earning': 149779.16,
  'Fund': 1197962.0,
  'Market': 865843.0,
  'Tax': 3212.96,
  'Value': 1347741.1599999999},
 {'Commission': 2970.1900000000001,
  'Earning': 1026347.38,
  'Fund': 1321715.0,
  'Market': 1883459.0,
  'Tax': 11459.209999999999,
  'Value': 2348062.3799999999},
 {'Commission': 3113.21,
  'Earning': 1258592.01,
  'Fund': 1651715.0,
  'Market': 2277106.0,
  'Tax': 11734.030000000001,
  'Value': 2910307.0099999998}]

In [32]:
days = period_cny.index
rates = []
HKD = Currency('hkd', Config.H2C_RATE_FILE)
for day in days:
    rates.append(HKD.get_rate2cny(day))
yearly_rates = pd.DataFrame(rates, index=days, columns=['Rate'])

In [19]:
period_hkd2cny = period_hkd.mul(yearly_rates['Rate'], axis=0).round(2)

In [22]:
period_cny+period_hkd2cny

,Commission,Earning,Fund,Market,Tax,Value
2015-12-31,2208.80,67385.28,1591818.78,832327.99,1749.69,1659204.06
2016-12-31,6673.96,313793.57,1607759.18,1296751.98,8811.47,1921552.75
2017-12-31,11600.83,2195942.01,1405417.08,2861261.69,22804.14,3601359.09