In [1]:
import datetime
import pandas as pd
from invest import Portfolio, Investment, Currency
from config import Config

In [2]:
invests = []
for k, v in Config.FUNDS.items():
    pfls = [Portfolio(c, Config.STOCKS[c]) for c in v[1:]]
    invests.append(Investment(k, v[0], pfls))

In [3]:
invest_cny = invests[0]
invest_hkd = invests[1]

In [4]:
day = datetime.date(2018, 1, 19)
latest_cny = invest_cny.getData(day)
latest_hkd = invest_hkd.getData(day)
period_cny = invest_cny.getPeriodData()
period_hkd = invest_hkd.getPeriodData()

In [5]:
latest_cny

            Commission    Earning       Fund     Market      Tax      Value
2018-01-19     3083.12  1259364.0  1351715.0  2238023.0  9218.59  2611079.0

In [6]:
latest_hkd

            Commission     Earning      Fund     Market       Tax       Value
2018-01-19    10607.17  1620313.74  100567.2  1605070.0  16900.82  1720880.94

In [7]:
HKD = Currency('hkd', Config.H2C_RATE_FILE)
latest = latest_cny + (latest_hkd*HKD.get_rate2cny(day)).round(2)

In [11]:
latest.to_dict(orient='records')

[{'Commission': 11790.57,
  'Earning': 2589482.79,
  'Fund': 1434270.8200000001,
  'Market': 3555628.1699999999,
  'Tax': 23092.510000000002,
  'Value': 4023753.6100000003}]